<!-- HTML for displaying all categories -->

<div class="container">
    <h1>Listado de Categorías</h1>

    <mat-table [dataSource]="dataSource">   <!-- Define data source -->
        <ng-container matColumnDef="id">    <!-- ID column -->
            <mat-header-cell *matHeaderCellDef> Identificador </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">  <!-- Name column -->
            <mat-header-cell *matHeaderCellDef> Nombre categoría  </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">    <!-- Buttons column -->
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button mat-icon-button>    <!-- Edit button -->
                    <mat-icon (click)="editCategory(element)">edit</mat-icon></button>
                <button mat-icon-button>    <!-- Delete button -->
                    <mat-icon (click)="deleteCategory(element)">clear</mat-icon></button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <div class="buttons">
        <button mat-flat-button (click)="createCategory()">Nueva categoría</button> <!-- Create button -->
    </div>   
</div>
